$dark: #000;
$white: #fff;
$background: #fccb06;

@mixin font($font-size, $font-weight, $line-height) {
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
}
.module-19 {
  background-image: url("../images/17.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 90px;
  .padding {   
    padding: 0px 0 350px 0;
  }
  .box-title {
    text-align: left;
    color: $white;
    padding-top: 120px;
    padding-right: 10px;
    padding-left: 50px;

    .main-title {
      transform: translateY(100px);
      transition: 1s;
      opacity: 1;
    }
    h1 {
      text-transform: uppercase;
      font-style: normal;
      @include font(70px, 700, 70px);
      transform: translateY(0);
      transition: 1s;
      opacity: 0;
    }
    span {
      display: block;
      @include font(20px, 400, 50px);
      margin: 20px 0 45px 0;
      transform: translateY(100px);
    }

    button {
        padding: 14px 39px;
        text-transform: uppercase;
        text-align: center;
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        color: white;
        font-size: 14px;
        line-height: 14px;
        letter-spacing: 0px;
        border: 2px solid $white;
        background-color: transparent;
        transition: all ease 0.3s;
        transform: translateY(300px);
        opacity: 0;
        &:focus {
            outline: none;
        }
    }
    .get-start {        
        transform: translateY(100px);
        opacity: 1;
        transition: 2s;
      &:hover {
        color: $dark;
        background-color: $white;
        transition: 0.3s;
      }
    }
  }
  .box-img {
    position: relative;
    margin-top: 145px;
    .trans-iphone {
        transform: translateX(120px);
        transition: 1s;
        opacity: 1!important;
    }
    .box-iphone {
      position: absolute;
      display: inline-block;
      float: left;
      left: 0;
      top: 128px;
      z-index: 1;
      opacity: 0;
      .img-iphone {
        width: 165px;
        height: 288px;
        position: absolute;
        top: 42px;
        left: 34px;
      }
      .iphone {
        width: 230px;
        height: 400px;
      }
    }
    .trans-ipad {
        transform: translateX(0)!important;
        opacity: 1!important;
        transition: 1s;
    }
    .box-ipad {
      position: absolute;
      float: right;
      right: 0;
      transform: translateX(300px);
      opacity: 0;
      .img-ipad {
        width: 260px;
        height: 377px;
        position: absolute;
        top: 62px;
        left: 44px;
      }
      .ipad {
        width: 350px;
        height: 520px;
      }
    }
  }
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
}
