$dark: #000;
$white: #fff;
$background: #fccb06;

@mixin font($font-size, $font-weight, $line-height) {
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
}

.module-15 {
  margin: 100px 0;
  .box-wrapper {
    transition: all ease 0.5s;
    border-bottom: 3px solid $background;
    transform: translateY(0);
    margin-top: 15px;
    width: 330px!important;
    margin: 0 25px;
    box-shadow: 0 0px 15px 16px rgba(0, 0, 0, 0.03);
    &:hover {
      transform: translateY(-15px);
    }
    .box-item {
      position: relative;
      width: 100%;
      float: left;
      padding: 60px;
      background-color: #fff;
      
      transition: all 0.3s ease-out 0s;
      .icon {
        font-size: 60px;
        color: #000000ad;
      }
      .desc {
        .title {
          margin-top: 20px;
          font-size: 18px;
          line-height: 23px;
          margin-bottom: 16px;
          font-style: normal;
          color: #272727;
        }
        .content {
          font-weight: normal;
          font-style: normal;
          font-size: 14px;
          line-height: 23px;
          color: #727272;
        }
        .readmore {
          color: #101010;
          text-transform: uppercase;
          font-weight: 600;
          text-decoration: none;
          transition: all 0.3s ease;
          cursor: pointer;
          background-color: transparent;
          font-size: 14px;
          transition: all ease 0.3s;
          i {
            color: #fccb06;
            padding-left: 15px;
          }
          &:hover {
            color: $background;
          }
        }
      }
    }
  }
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  .swiper-button-next {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 2px solid #dbdbdb;
    &:focus {
      outline: none;
    }
    &:after {
      content: "next";
      font-size: 20px;
      color: black;
    }
  }

  .swiper-button-prev {
    @extend .swiper-button-next;
    &:focus {
      outline: none;
    }
    &:after {
      content: "prev";
      @extend .swiper-button-next:after;
    }
  }
}
