.module-15 {
  margin: 100px 0; }
  .module-15 .box-wrapper {
    transition: all ease 0.5s;
    border-bottom: 3px solid #fccb06;
    transform: translateY(0);
    margin-top: 15px;
    width: 330px !important;
    margin: 0 25px;
    box-shadow: 0 0px 15px 16px rgba(0, 0, 0, 0.03); }
    .module-15 .box-wrapper:hover {
      transform: translateY(-15px); }
    .module-15 .box-wrapper .box-item {
      position: relative;
      width: 100%;
      float: left;
      padding: 60px;
      background-color: #fff;
      transition: all 0.3s ease-out 0s; }
      .module-15 .box-wrapper .box-item .icon {
        font-size: 60px;
        color: #000000ad; }
        .module-15 .box-wrapper .box-item .desc .title {
          margin-top: 20px;
          font-size: 18px;
          line-height: 23px;
          margin-bottom: 16px;
          font-style: normal;
          color: #272727; }
        .module-15 .box-wrapper .box-item .desc .content {
          font-weight: normal;
          font-style: normal;
          font-size: 14px;
          line-height: 23px;
          color: #727272; }
        .module-15 .box-wrapper .box-item .desc .readmore {
          color: #101010;
          text-transform: uppercase;
          font-weight: 600;
          text-decoration: none;
          transition: all 0.3s ease;
          cursor: pointer;
          background-color: transparent;
          font-size: 14px;
          transition: all ease 0.3s; }
          .module-15 .box-wrapper .box-item .desc .readmore i {
            color: #fccb06;
            padding-left: 15px; }
          .module-15 .box-wrapper .box-item .desc .readmore:hover {
            color: #fccb06; }
  .module-15 .clearfix::after {
    content: "";
    clear: both;
    display: table; }
  .module-15 .swiper-button-next, .module-15 .swiper-button-prev {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 2px solid #dbdbdb; }
    .module-15 .swiper-button-next:focus, .module-15 .swiper-button-prev:focus {
      outline: none; }
    .module-15 .swiper-button-next:after, .module-15 .swiper-button-prev:after {
      content: "next";
      font-size: 20px;
      color: black; }
  .module-15 .swiper-button-prev:focus {
    outline: none; }
  .module-15 .swiper-button-prev:after {
    content: "prev"; }
